form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 5em;
}

input[type='text'] {
    flex: 1;
    padding: 1em;
    border: .2em solid #ccc;
    border-radius: 10em;
    font-size: 1.2em;
}

input[type='text']::placeholder {
    text-align: center;
}
button {
  color: #060606;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.3em;
  padding: 1em 2em;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: .2em solid #ccc;
  border-radius: 5em;
  width: 10em;
}

button:hover {
    box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
  }
.error {
    background-color: rgb(241, 240, 240);
    width: 20em;
    height: 2em;
    border-radius: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28em;
}